.wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 0 40px;
  height: 40px;
  font-weight: 700;
  font-size: 12px;
  border-radius: 3px;
  letter-spacing: 1px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%), inset 0 0 0 1px rgb(255 255 255 / 10%);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s linear;

  & ~ .wrapper {
    margin-left: 8px;
  }

  &.l {
    height: auto;
    width: var(--layout-width);
    padding: 24px 0;
  }

  &.auto {
    height: auto;
    width: 100%;
    padding: 16px 0;
    margin: 0;
  }
}

.primary {
  color: #fff;
  background-color: var(--primary);

  &:hover {
    opacity: 0.8;
  }
}

.outline {
  color: var(--primary);
  background-color: transparent;
  border: 2px solid var(--primary);
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.disable {
  opacity: 0.3 !important;
  user-select: none;
  cursor: default;
}

.color {
  color: var(--text-cl);
  background-color: var(--cl);
}
