.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  max-height: 60px;
  padding: 0 10px;
  font-size: 2.8rem;
  background-color: #000;
  color: #fff;
  z-index: 999;
  --item-width: 650px;
  --padding: 20px;
}

.ctn {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 3.2rem;
  color: #fff;
  transition: transform 0.4s linear, opacity 0.2s linear;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 32px;
  height: 32px;
  padding: 8px 12px;
  user-select: none;
  box-sizing: content-box;
  cursor: pointer;

  span {
    height: 4px;
    width: 100%;
    background-color: currentColor;
    border-radius: 2px;
    transition: width 0.4s linear, transform 0.4s linear;
  }

  &.closed {
    span:nth-child(1) {
      transform: rotate(45deg) translate(7px, 8px);
    }
    span:nth-child(2) {
      width: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -8px);
    }
  }
}

.btn {
  box-sizing: content-box;
  padding: 8px 12px;
  user-select: none;
}

.overplay {
  margin-top: 60px;
  border-top: 1px solid rgba($color: #fff, $alpha: 0.2);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: var(--item-width);
  height: 100%;
  overflow-y: scroll;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 0;

  input[type='text'] {
    width: 100%;
    padding: var(--padding) 36px var(--padding) 12px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
    font-family: 'Source Sans Pro';
    font-size: 2.4rem;
    font-weight: 300;
    color: #fff;

    &:focus {
      box-shadow: none;
      border: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.4s linear;
  }

  &:focus-within::after {
    width: 100%;
  }

  .icon-search {
    position: absolute;
    right: 0;
    padding: 8px;
  }
}

.item {
  width: var(--item-width);
  padding: var(--padding) 0;
  border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat';
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

  span {
    position: relative;
    font-size: 1.2rem;
    color: rgba($color: #fff, $alpha: 0.2);
    padding-bottom: 8px;
    margin-bottom: 8px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 15%;
      right: 15%;
      height: 1px;
      background-color: rgba($color: #fff, $alpha: 0.2);
    }
  }

  .category {
    padding: 10px 0;

    &:focus {
      color: var(--cl);
    }
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.share {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;

  .icon {
    box-sizing: content-box;
    color: rgba($color: #fff, $alpha: 0.5);
    padding: 8px 12px;

    &:focus {
      color: #fff;
    }
  }

  .foot-logo {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(50%);

    span {
      flex: 1;
      height: 1px;
      background-color: rgba($color: #fff, $alpha: 0.2);
    }

    .logo {
      padding: 0 var(--padding);
      font-size: 1.6rem;
      color: rgba($color: #fff, $alpha: 0.5);
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    --item-width: calc(100% - 8px);
    --padding: 10px;
  }
  .categories {
    font-size: 1.6rem;

    span {
      font-size: 1rem;
    }
  }
}
