.wrapper {
  width: 100%;
  padding: 0 12px;

  input[type='text'] {
    width: 100%;
  }
}

.name-page {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.editor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.head {
  justify-content: flex-start;
}
